#liquidation-tracker {
    padding: 50px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#liquidation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

#liquidation-table th, #liquidation-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#liquidation-table th {
    background: #444;
    color: white;
}

#liquidation-table tr:nth-child(even) {
    background-color: #222;
}

#liquidation-table tr:nth-child(odd) {
    background-color: #1a1a1a;
}
